a {
  text-decoration: none;
}




.Navbar {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  background-color: #f8f9fa;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.nav_left img {
  height: 120px;
}

.nav_right .rightElement {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
}

.nav_right .rightElement > div {
  margin: 0 10px;
  cursor: pointer;
}

.user_profile {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profile img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.login {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}

.login:hover {
  background-color: #e9ecef;
}















.Profile_details {
  position: absolute;
  top: 60px;
  right: 20px;
}

.profile_card {
  width: 250px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.profile_userName {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.profile_data {
  display: flex;
  flex-direction: column;
}

.profile_data > div {
  margin-bottom: 10px;
}

.email,
.Full_Name,
.mobileno {
  font-size: 16px;
}

.addpost {
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addpost:hover {
  background-color: #0056b3; /* Darker blue color on hover */
}


.logout {
  font-size: 16px;
  background-color: #dc3545; /* Red color for logout */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout:hover {
  background-color: #c82333; /* Darker red color on hover */
}
